/node_modules
/public/hot
/public/storage
/public/uploads
/storage/*.key
/vendor
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/framework/cache/*
/storage/logs/*
/storage/logs/*.log
composer.lock
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/storage/framework/*
/bootstrap
/.idea/*
